body{

font-family:sans-serif;
text-align:center;
transition:0.3s;
margin:20px;

}

.theme-light{

background:white;
color:black;

}

.theme-dark{

background:#111;
color:white;

}

.theme-midnight{

background:#0b0f2a;
color:#cfd8ff;

}

input{

font-size:18px;
padding:10px;
margin:5px;
width:260px;

}

button{

padding:8px 14px;
margin:5px;
cursor:pointer;

}

#result{

font-size:28px;
margin:20px;

}

.blue{

color:#4da6ff;

}

.yellow{

color:#ffd900;

}

.red{

color:#ff4d4d;

}

.diceResult{

font-weight:bold;

}

.historyLine{

margin:6px;
font-size:16px;

}

.char{

font-weight:bold;
color:#ffb3ff;
text-shadow:
-1px -1px 0 #000,
1px -1px 0 #000,
-1px 1px 0 #000,
1px 1px 0 #000;

}
